#p1 {
  background-color: rgb(58, 197, 150);
  margin: auto;
  width: 300px;
}
#p2 {
  background-color: rgb(58, 197, 150);
  padding: 25px 50px;
}
#p3 {
  background-color: rgb(58, 197, 150);
  padding: 50px;
}
